.box {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.box1 {
  background-color: #f00;
  position: relative;
  z-index: 1;
}

.box2 {
  background-color: #0f0;
  position: relative;
  z-index: 2;
  bottom: 50px;
  left: 8px;
}

.box3 {
  background-color: #00f;
  position: relative;
  z-index: 3;
  bottom: 100px;
  left: 16px;
}

.box11 {
  background-color: #f00;
  position: absolute;
  left: 100px;
  top: 400px;
}

.box21 {
  background-color: #0f0;
}

.box31 {
  background-color: #00f;
}